global
    log stdout format raw local0
    maxconn 4096

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    timeout connect 5000
    timeout client  50000
    timeout server  50000

# Panel de estadisticas
# Accesible en http://localhost:8080/stats
# Solo debe ser accesible desde la LAN, bloquear desde internet con iptables
listen estadisticas
    bind *:8080
    stats enable
    stats uri /stats
    stats refresh 30s
    stats auth admin:logitrans2024

# Entrada de trafico publico por el puerto 80
frontend entrada_web
    bind *:80
    default_backend servidores_web

# Distribucion de carga entre los dos Apache
# Round-Robin: primera peticion a web1, segunda a web2, y asi sucesivamente
backend servidores_web
    balance roundrobin
    option httpchk GET /
    server web1 logitrans-web1:80 check
    server web2 logitrans-web2:80 check
